* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  background-color: #eee;
  gap: 0.5rem;
  padding: 1rem;
  
}

.input-box {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 2rem;
  height: 4rem;
  width: 30%;
}

.add-btn {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  color: rgb(90, 88, 88);
  background-color: rgb(219, 217, 217);
  cursor: pointer;
  height: 4rem;
  width: 4rem;
}

.add-btn:hover {
  background-color: rgb(100, 90, 107);
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  margin: 2rem;
  gap: 2rem;
}

section {
  width: 30rem;
 min-height: 50vh;
  border: 2px solid #ccc;
  color: grey;
  background-color: rgb(245, 243, 243);
  display: flex;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  
}

ul li {
  display: flex;
  list-style: none;
  font-size: 2.5rem;
  padding: 0.5rem;
  gap: 1rem;
 align-items: center;
}

.controls {
  max-width: 8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.btn {
  width: 4rem;
  height: 4rem;
}

input {
height: 3rem;
width: 3rem;
}