* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:40px;   
  gap:40px;
}
.game {
  display: grid;
  height: 600px;
  width: 600px;
}


.box {
  border: 1px solid white;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.description {
  font-size: 26px;
}

.score, .highscore{
  font-size: 26px;
  margin-bottom: 10px;
}

.comment {
  font-size: 28px;
}