* {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  color: #333;
  height: 100vh;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}

.app {
  text-align: center;
  margin-top: 3rem;
}

.current--number{
font-size: 4rem;
font-weight: bold;
}


.box {
  padding: 1rem;
}

.btn {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  border-radius: 5%;
}

.btn--reset {
  height: 5rem;
  width: 10rem;
  cursor: pointer;
  border-radius: 5%;
}

.changeBy {
  border-radius: 5%;
  padding-left:4rem;
}