* {
  margin: 0;
  padding: 0;
}
body {
  color: #333;
  height: 100vh;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}

.app {
  text-align: center;
  margin-top: 2rem;
}

.box {
  padding: 3px;
}

.btn {
  /* padding: 0.3rem 1rem; */
  /* border-radius: 50rem; */
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.btn--reset {
  height: 25px;
  width: 53px;
  cursor: pointer;
  /* padding: 0.5rem; */
}
